{% block form_row %}
    {% set widget_attr = {} %}
    {% if help is not empty %}
        {% set widget_attr = {attr: {'aria-describedby': id ~"_help"}} %}
    {% endif %}
    {% set row_attr = row_attr|merge({class: ('mb-5 ' ~ row_attr.class|default(''))|trim}) %}
    <div{% with {attr: row_attr} %}{{ block('attributes', 'form_div_layout.html.twig') }}{% endwith %}>
        {% if label is not same as (false) %}
            {{ form_label(form) }}
        {% endif %}
        {% if not help_popover and help_placement == 'before_widget' %}
            {{ form_help(form) }}
        {% endif %}
        {{ form_widget(form, widget_attr) }}
        {% if not help_popover and help_placement == 'after_widget' %}
            {{ form_help(form) }}
        {% endif %}
        {{ form_errors(form) }}
    </div>
{% endblock %}

{% block form_label %}
    {% if label is not same as(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% set label_attr = label_attr|merge({class: ('mb-2 ' ~ label_attr.class|default(''))|trim}) %}
        {% set content %}
            {{ block('form_label_content', 'form_div_layout.html.twig') }}
            {% if help is not null_or_white_space and help_alert %}
                {% set attr = component_attributes(html_attributes(
                    {
                        class: 'fa fa-question-circle text-secondary ml-1 cursor-pointer',
                    },
                    stimulus_controller('form-help-alert-trigger', {id: id ~ '_help_alert'}),
                    stimulus_action('form-help-alert-trigger', 'toggle', 'click'),
                    stimulus_action('form-help-alert-trigger', 'opAlertClosed', 'alert:closed@window'),
                    stimulus_action('form-help-alert-trigger', 'onAlertOpened', 'alert:opened@window'),
                )) %}
                <i class="{{ attr.render('class') }}" {{ attr }}></i>
            {% endif %}
        {% endset %}
        <twig:Form:Label
            required="{{ required }}"
            valid="{{ valid and errors|length == 0 }}"
            {{ ...label_attr }}
        >
            {{ content }}
        </twig:Form:Label>
    {% endif %}
{% endblock %}

{% block form_errors %}
    {% if errors|length > 0 %}
        {% if form is rootform %}
            <twig:Alert theme="danger" class="mb-5" withCloseButton="{{ false }}">
                <twig:List class="text-sm" type="none">
                    {% for error in errors %}
                        <twig:List:Item class="font-medium">
                            {{ error.message }}
                        </twig:List:Item>
                    {% endfor %}
                </twig:List>
            </twig:Alert>
        {% else %}
            <twig:List
                class="text-danger mt-2 text-sm"
                type="none"
            >
                {% for error in errors %}
                    <twig:List:Item class="font-medium">
                        {{ error.message }}
                    </twig:List:Item>
                {% endfor %}
            </twig:List>
        {% endif %}
    {% endif %}
{% endblock %}

{% block form_help %}
    {% if help is not empty %}
        {% if help_alert %}
            {% set help_attr = component_attributes(html_attributes(
                help_attr,
                {
                    id: id ~ '_help_alert',
                    theme: 'dark',
                    removeAfterClose: false,
                }
            )) %}
            {% set content = block('form_help_content') %}
            <twig:Alert {{ ...help_attr }}>
                <twig:block name="icon">
                    <i class="fa fa-question-circle"></i>
                </twig:block>
                <div class="text-sm">
                    {{ content }}
                </div>
            </twig:Alert>
        {% else %}
            {% set help_attr = help_attr|merge({class: (help_attr.class|default('') ~ ' mt-[0.25rem] text-xs text-secondary')}) %}
            <p {% with { attr: help_attr } %}{{ block('attributes', 'form_div_layout.html.twig') }}{% endwith %}>
                {{ block('form_help_content') }}
            </p>
        {% endif %}
    {% endif %}
{% endblock %}

{% block form_widget_simple %}
    <twig:Form:Input
        type="{{ type|default('text') }}"
        value="{{ value }}"
        required="{{ required }}"
        valid="{{ valid and errors|length == 0 }}"
        disabled="{{ disabled }}"
        readOnly="{{ readonly }}"
        id="{{ id }}"
        name="{{ full_name }}"
        {{ ...attr }}
    />
{% endblock %}

{% block checkbox_widget %}
    <twig:Form:Checkbox
        value="{{ value }}"
        required="{{ required }}"
        valid="{{ valid and errors|length == 0 }}"
        disabled="{{ disabled or readonly }}"
        id="{{ id }}"
        name="{{ full_name }}"
        checked="{{ checked }}"
        label="{{ label is same as false ? false : block('form_label_content', 'form_div_layout.html.twig') }}"
        labelHtml="{{ label_html }}"
        help="{{ block('form_help_content') }}"
        helpHtml="{{ help_html }}"
        {{ ...attr }}
    />
{% endblock %}

{% block checkbox_row %}
    {% set row_attr = row_attr|merge({class: ('mb-5 ' ~ row_attr.class|default(''))|trim}) %}
    <div{% with {attr: row_attr} %}{{ block('attributes', 'form_div_layout.html.twig') }}{% endwith %}>
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}

{% block textarea_widget %}
    <twig:Form:Textarea
        required="{{ required }}"
        valid="{{ valid and errors|length == 0 }}"
        disabled="{{ disabled }}"
        readOnly="{{ readonly }}"
        id="{{ id }}"
        name="{{ full_name }}"
        {{ ...attr }}
    >{{ value }}</twig:Form:Textarea>
{% endblock %}

{% block cms_content_widget %}
    {{ block('content', 'cms/block/form.html.twig') }}
{% endblock %}

{% block cms_content_block_widget %}
    {{ block('content_block', 'cms/block/form.html.twig') }}
{% endblock %}

{% block text_editor_widget %}
    <twig:Form:TextEditor
        required="{{ required }}"
        valid="{{ valid and errors|length == 0 }}"
        disabled="{{ disabled }}"
        readOnly="{{ readonly }}"
        id="{{ id }}"
        name="{{ full_name }}"
        mode="{{ mode }}"
        {{ ...attr }}
    >{{ value }}</twig:Form:TextEditor>
{% endblock %}
